  <footer>
      <div class=" footer bird-banner">
          <div id="birdbanner"><img src="/public/image/little-bird.gif" alt="LittleBird"><span id="footer-text">Yan
                  Peng@CSC317</span></div>
      </div>
  </footer>