 <header>
     <nav class="topnav">
         <ul>
             <li><a href="viewpost">View Post</a></li>
             <li> <a class="active" href="/">Home</a></li>
             <div class="logsign">
                 {{#if logged}}
                 <li><a id="signup" href="/postimage">+Post Image</a></li>
                 <li><a id="comment" href="#">comment</a></li>
                 <li><a id="logout" class="logsign1" href="/logout">Sign out</a></li>
                 {{else}}
                 <li><a id="signup" href="/users/registration">Sign up</a></li>
                 <li><a class="logsign1" href="/login">Sign in</a></li>
                 {{/if}}
             </div>
             <div class="search-container">
                 <input type="text" id="searchtext" placeholder="Search..." name="search">
                 <button class="search_button" type="submit"><i class="fa fa-search"></i></button>
             </div>
         </ul>
     </nav>
 </header>