<nav>
    <div class="logo">
        Image Post Application
    </div>

    <div class="nav-items">
        <!-- The Menu items -->
        <li><a href="/">HOME</a></li>
        <li><a href="/postimage">+POST</a></li>
        <li><a href="/registration">REGISTER</a></li>
    </div>

    <!-- Defining the search bars -->
    <div class="searchbar">
        <input  id="search-text" type="text" placeholder="Search..." name="search">
        <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
    </div>

    <!-- Defining the login button -->
    <div class="licon">
        <li>
            {{#if logged}}
            <a id="logout" href="/logout">LOGOUT</a>
            <i class="fa fa-user" aria-hidden="true" style="color: white"></i>
            {{else}}
            <a id="login" href="/login">LOGIN</a>
            <i class="fa fa-user" aria-hidden="true" style="color: white"></i>
            {{/if}}
        </li>
    </div>
</nav>