<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
     {{!-- <script type="text/javascript" src="/public/js/logvalidation.js"></script> --}}
    {{!-- <script type="text/javascript" src="/public/js/validation.js"></script> --}}
</head>

<body>
    <div class="background">
        <main>
            <div class="wrap">
                <div class="form">
                    <div class="left">
                      <img src="/public/image/boat.jpg">
                    </div>
                    <div class="right">
                        <div class="right-content">
                          {{{body}}}
                        </div>
                    </div> 
                </div>
            </div>
        </main>
    </div>
</body>


</html>