
    <div class="container-box">
        
        <div class="wrap">
            <div id="content" class="container">
            {{#each results}}
            {{>card this}}
            {{/each}}
            </div>
        </div>
    </div>