{{>header}}


<div class="left-area" </div> <p>This is cat world</p>
  <p>* Author</p>
  <p>Yan Peng</p>
  <p>* Created Time</p>
  <a id="signout_viewpost" href="index"><button id="mybtn">Sign Out</button></a>
</div>
<div class="right-post-area">
  <div class="image-container">
  </div>
</div>