body {
    margin: 0;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow-y: scroll;
    padding-top: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

#flash-message {
    color: lightpink;
    text-align: center;
    margin: 10px auto;
}

#flash-message div {
    text-align: center;
}

.alert-login {
    text-align: center;
    position: fixed;
    width: 100%;
}


.searchbar{
    float: right;
}
.searchbar input[type=text] {
   
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
  
            border: 1px solid #ccc;  
}

.searchbar button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }


/* Merged from fetchstyle.css */
.container-box{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}
/*div for each pics*/
.container {
    margin: 25px;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 4rem;
    padding: 100px;
}

div .pic {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    margin:0px 50px;
}

div .title {
    padding: 10px;
    color: white;
}

div .post {
    border: solid 1px;
    
    border-radius:5%;
    background-color: rgba(0,0,0,.3);
    color: rgb(226, 218, 218);
}

#postdetails{
    padding:12px 35px;
    margin:0 0 8px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: pink;
    background-color: pink;
}


.card-text{
    font-family: sans-serif;
    color: white;
    font-size: 18px;
   text-align: center;
}

/****************Form****************/

/* .wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    overflow-x: scroll;
} */

 .form {
    width: 980px;
    height: 670px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(14, 13, 13, 0.2);
}

.form .left {
    width: 330px;
    height: 670px;
    display: inline-block;
}

.form .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 500px;
    height: 670px;
    background-position: center;
}

 .form .right {
    width: 650px;
    height: 670px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

 .form .right .right-content {
    width: 70%;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

 .form .right .right-content .title {
    font-size: 26px;
    color: #0c3483;
    font-weight: bold;
    padding-bottom: 0px;
}

/*all text input box*/
 .form .right .right-content .input-group {
    width: 100%;
    padding: 6px 0px;
    /* height: 45px; */
    position: relative;
    margin: 20px 0;

}

/*all text input bottom line and input styling*/
.form .right .right-content .input-group .text-input {
    background: transparent;
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgb(223, 221, 217);

}

 .form .right .right-content .input-group .text-input:focus {
    border-color: rgb(51, 78, 153);
    /* box-shadow: inser 0 0 3px blue; */
}

 .form .right .right-content label {
    font-size: 16px;
    font-weight: 400;
    color: #0c3483;
    display: none;
    padding: 10px 50px;

}

 .form .right .right-content .input-group .text-input::placeholder {
    color: rgb(72, 137, 197);
    font-size: 14px;
}

.form .right .right-content .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/*login, register,create post button*/
 .form .right .right-content button {
    padding: 20px 25px;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: .5s;
    background-color: palevioletred;
    width: 100%;
    text-align: center;
    color: white;
}

/*login,register,creat post button hover*/
 .form .right .right-content button:hover {
    background-color: rgb(218, 93, 191);
}

/*two buttons same row*/
 .form .right .right-content .button-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 1rem;
}

/*clear button*/
.form .right .right-content .button-group .button-re {
    background-color: #1680e3;
}

 .form .right .right-content .button-group .button-re:hover {
    background-color: rgb(83, 198, 226);
}

 .form .right .right-content .form-footer {
    padding-top: 1rem;
    color: #0c3483;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;

}

 .form .right .right-content .form-footer a {
    color: palevioletred;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

 .form .right .right-content .form-footer a:hover {
    color: lightpink;
}

/*styling all check box and related words,policy link */
 .form .right .right-content .checkbox-group {
    font-size: 80%;
    display: flex;
    align-items: center;
    /* padding-bottom: 10px; */
    padding-top: 22px;
}

 .form .right .right-content .checkbox-group span {
    color: #0c3483;
    font-size: medium;
    font-family: sans-serif;
}

 .form .right .right-content .checkbox-group input[type='checkbox'] {
    margin-right: 15px;

}

 .form .right .right-content .checkbox-group a {
    color: rgb(38, 0, 255);
}

.wrap .form .right .right-content .checkbox-group a:hover {
    color: rgb(116, 211, 214);
}

/*styling all upload file button and related area*/
 .form .right .right-content input[type=file] {
    font-size: 16px;
    color: #68acd3;
    border: 2px solid;
    padding: 10px 0px;
    width: 100%;
}

 .form .right .right-content input[type=file]:hover {
    box-shadow: inset 0px 0px 2px rgb(146, 199, 206);
    background: #cfdadf;
}

 .form .right .right-content .file-upload-group {
    border-bottom: none;
    width: 100%;
    padding-top: 0px;
}


/*styling description text area*/
 .form .right .right-content textarea {
    border: 2px solid rgb(82, 176, 189);
    padding: 0px;
    width: 90%;
    height: 100px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin:0 atuo;
}

 .form .right .right-content #select-image {
    text-align: left;
    font-family: sans-serif;
    color: #0c3483;
    margin-top: 0px;
   padding: 5px 5px;
}



/*************  View Post **************/
.viewpostbody{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.viewpost-box {
    display: flex;
    width:80rem;
    height: 55rem;
    background: #518ec0;
    margin:0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(14, 13, 13, 0.3);
   
}

.viewpost-box.left {
    /* width: 500px;
    height: 600px; */
   

    /* position: relative; */
}
  

.viewpost-box .left img {
    /* width: 50%;
    height: 50%;
    object-fit: cover; */
    width: 450px;
    margin-top: 120px;
    border-radius: 20px;

    /* padding: 100px 20px; */
    /* background-position: center; */
    /* border-radius: 50%; */
}

.viewpost-box .right {
    width: 64%;
    height: 75rem;
    background-color: rgb(236, 233, 227);
    /* background: rgb(27,36,45);
background: radial-gradient(circle, rgba(27,36,45,1) 0%, rgba(34,35,103,1) 100%); */
    /* background: url("/public/image/space.jpg"); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  
   
}

.viewpost-box .right .right-content {
   
    width: 100%;
    padding: 48px;;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.information {


    /* outline:none; */

 
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 0.2rem;
    margin: 20px 25px;
    text-align: left;
   
    /* padding-bottom: 0px; */

}

.image-info{
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(222, 231, 232);
    height: 55px;
}

.center {
    /* margin: auto;
    width: 80%; */
    text-align: center;
  }

 textarea{
    margin-left: 20px;
    float: left;
    display: inline-block;
 }

 .comment-button{
    background-color: #d0a523;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  #comment{
      float: left;
  }

  .allcomment{
    background-color: rgb(235, 232, 232);
    width: 40rem;
    height:650px;
    border: 2px solid rgb(214, 175, 68);
    padding: 50px;
    margin: 20px;
    float: left;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }
/****************** Footer ******************/
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: sans-serif;
    line-height: 6px;
    font-size: small;
}

footer p {
    color: white;
}

/********************error message*********************/
form .error {
    display: inline;
    color: red;
    margin: 5px 0 5px 0px;
    font-size: 15px;
    text-align: center;
}

.password-requirment {
    display: flex;
    font-size: small;
    font-family: sans-serif;
    color: grey;
}

body::-webkit-scrollbar {
    display: none;
}

/*********************log in error message********************/
#message {
    background-color: #f1f1f1;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border: 2px solid #420caf;
}