body {
    margin: 0;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow-y: scroll;
    padding-top: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

#flash-message{
    position:fixed;
    left:50%;
    top:25%;

}
#flash-message div{
    text-align: center;
}

/**************** Navigation ****************/
/* header {
    overflow: hidden;
    background-color: white;
    font-family: sans-serif;
    width: 100vw;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
   
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav li {
    float: left;
}

header nav li a {
    display: block;
    color: black;
    text-align: left;
    padding: 20px 40px;
    text-decoration: none;

}

header nav li a.active {
    background-color: rgb(98, 187, 209);
}

header nav li a:hover {
    background-color: rgb(98, 118, 209);
    color: rgb(15, 14, 14);
   
}
 .search-container {
    float: right;
  }

form {
    padding:10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  #searchtext{
    padding:15px 100px;
  }

  .search_button{
    float: right;
    padding: 10px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  } */



header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav li {
    float: left;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .logsign {
    float: right;

    color: black;
    text-align: center;
    padding: 0px 180px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto
}

/* a .logsign1 {
    float: right;
    border-radius: 15px;
    color: black;
    text-align: center;
    background-color: #d67fb2;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 16px;
    margin: 2px auto
} */

#signup {
    margin: 2px auto;
    float: right;
    border-radius: 15px;
    color: black;
    text-align: center;
    background-color: #87b6d6;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 16px;

}

#signout {
    margin: 2px auto;
    float: right;
    border-radius: 15px;
    color: black;
    text-align: center;
    background-color: #e7cc51;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 16px;
    display: none;

}

.topnav .logsign a {

    float: right;
    border-radius: 15px;
    color: black;
    text-align: center;
    background-color: #d67fb2;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 16px;
    margin: 2px auto;

    /* color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px; */
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #64aae4;
    color: white;
    padding: 15px 50px;
}

.topnav .search-container {
    /* float: right;
    padding:0px 30px; */

    width: 100%;
    text-align: center;

}

.topnav input[type=text] {
    padding: 6px 150px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container7 button {
    /* float: right; */
    text-align: center;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/* Merged from fetchstyle.css */
.background {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 100vh;    
}

.container {
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(5, 0fr);
    gap: 2rem;
    align-items: flex-start;
    margin: 50px;
    margin-top: 10%;
}

div .pic {
    height: 200px;
    width: 200px;
}

div .title {
    padding: 10px;
    color: white;
}

div .post {
    border: none;
}

/****************Form****************/

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    overflow-x: scroll;
}

.wrap .form {
    width: 980px;
    height: 670px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(14, 13, 13, 0.2);
}

.wrap .form .left {
    width: 330px;
    height: 670px;
    display: inline-block;
}

.wrap .form .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 500px;
    height: 670px;
    background-position: center;
}

.wrap .form .right {
    width: 650px;
    height: 670px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.wrap .form .right .right-content {
    width: 70%;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.wrap .form .right .right-content .title {
    font-size: 26px;
    color: #0c3483;
    font-weight: bold;
    padding-bottom: 0px;
}

/*all text input box*/
.wrap .form .right .right-content .input-group {
    width: 100%;
    padding: 6px 0px;
    /* height: 45px; */
    position: relative;
    margin: 20px 0;

}

/*all text input bottom line and input styling*/
.wrap .form .right .right-content .input-group .text-input {
    background: transparent;
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgb(223, 221, 217);

}

.wrap .form .right .right-content .input-group .text-input:focus {
    border-color: rgb(51, 78, 153);
    /* box-shadow: inser 0 0 3px blue; */
}

.wrap .form .right .right-content label {
    font-size: 16px;
    font-weight: 400;
    color: #0c3483;
    display: none;
    padding: 10px 50px;

}

.wrap .form .right .right-content .input-group .text-input::placeholder {
    color: rgb(72, 137, 197);
    font-size: 14px;
}

.wrap .form .right .right-content .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/*login, register,create post button*/
.wrap .form .right .right-content button {
    padding: 20px 25px;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: .5s;
    background-color: palevioletred;
    width: 100%;
    text-align: center;
    color: white;
}

/*login,register,creat post button hover*/
.wrap .form .right .right-content button:hover {
    background-color: rgb(218, 93, 191);
}

/*two buttons same row*/
.wrap .form .right .right-content .button-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 1rem;
}

/*clear button*/
.wrap .form .right .right-content .button-group .button-re {
    background-color: #1680e3;
}

.wrap .form .right .right-content .button-group .button-re:hover {
    background-color: rgb(83, 198, 226);
}

.wrap .form .right .right-content .form-footer {
    padding-top: 1rem;
    color: #0c3483;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;

}

.wrap .form .right .right-content .form-footer a {
    color: palevioletred;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.wrap .form .right .right-content .form-footer a:hover {
    color: lightpink;
}

/*styling all check box and related words,policy link */
.wrap .form .right .right-content .checkbox-group {
    font-size: 100%;
    display: flex;
    align-items: center;
    /* padding-bottom: 10px; */
    padding-top: 22px;
}

.wrap .form .right .right-content .checkbox-group span {
    color: #0c3483;
    font-size: medium;
    font-family: sans-serif;
}

.wrap .form .right .right-content .checkbox-group input[type='checkbox'] {
    margin-right: 15px;

}

.wrap .form .right .right-content .checkbox-group a {
    color: rgb(38, 0, 255);
}

.wrap .form .right .right-content .checkbox-group a:hover {
    color: rgb(116, 211, 214);
}

/*styling all upload file button and related area*/
.wrap .form .right .right-content input[type=file] {
    font-size: 16px;
    color: #68acd3;
    border: 2px solid;
    padding: 10px 0px;
    width: 100%;
}

.wrap .form .right .right-content input[type=file]:hover {
    box-shadow: inset 0px 0px 2px rgb(146, 199, 206);
    background: #cfdadf;
}

.wrap .form .right .right-content .file-upload-group {
    border-bottom: none;
    width: 100%;
    padding-top: 0px;
}


/*styling description text area*/
.wrap .form .right .right-content textarea {
    border: 2px solid rgb(82, 176, 189);
    padding: 0px;
    width: 100%;
    height: 150px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 0rem;
}

.wrap .form .right .right-content #select-image {
    text-align: left;
    font-family: sans-serif;
    color: #0c3483;
    margin-top: 0px;
}

/************* View Post **************/
.left-area {
    float: right;
    width: 10%;
    height: 100vh;
    background-color: rgb(21, 65, 104);
    padding: 100px 20px;
    text-align: center;


}

#signout_viewpost {
    display: inline-block;
}

.right-post-area {
    float: flex;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 100vh;
}

.right-post-area .image-container {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 1.5rem;

}

.right-post-area .img {
    object-fit: cover;
    margin: 20px 30px;
    margin-left: 10%;
    float: left;

}

.left-area h2 {
    color: white;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}


.left-area p {
    font-family: sans-serif;
    color: #e8eef1;
    font-size: 20px;
    line-height: 2em;
    margin-bottom: 20px;
}

/****************** Footer ******************/
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: sans-serif;
    line-height: 6px;
    font-size: small;
}

footer p {
    color: white;
}

/********************error message*********************/
form .error {
    display: inline;
    color: red;
    margin: 5px 0 5px 0px;
    font-size: 15px;
    text-align: center;
}

.password-requirment {
    display: flex;
    font-size: small;
    font-family: sans-serif;
    color: grey;
}

body::-webkit-scrollbar {
    display: none;
}

/*********************log in error message********************/
#message{
background-color: #f1f1f1;
padding: 20px;
margin-left: 20%;
margin-right: 20%;
margin-top: 2%;
border: 2px solid #420caf;}